body {
    background-color: white;
}

.song {
    color: black;
    text-align: center;
}

h1 {
    text-align: center;
    margin-left: 100px;
    color: black;
}

button {
    text-align: center;
    margin-left: 2px;
}


.Peep {
    height: 300px;
    margin-top: -20px;
}

.neighbourhood {
    width: 400px;
}

h3 {
    color: black;
}

p {
    color: black;
}

a {
    color: red;
}

.neighbourhood {
    font-size: 20px;
}

.DL {
    font-size: 20px;
}

.benz {
    font-size: 20px;
}
